:root {
    /* Colors */
    --color-primary: #0056b3;
    --color-bg: #282c34;
    --color-bg-secondary: #414e5c;

    --color-text: #ffffff;
    --color-text-secondary: #848c91;
    --color-text-tertiary: #b8c2cc;

    --color-underline: #676f73;

    --color-text-error: red;
    --color-border: #ffffff;
    --color-border-secondary: #a6a6a6;

    /* Borders & radius */
    --border-width: 0.1em;

    --radius-small: 0.2em;
    --radius-medium: 0.4em;
    --radius-large: 0.6em;
    --radius-x-large: 1.6em;

    /* Font sizes */
    --font-size-small: 1.25em;
    --font-size-medium: 1.5em;
    --font-size-large: 1.75em;
}

* {
    color: var(--color-text);
    font-weight: normal;
    text-align: center;
    background: none;
    border: none;
}

body {
    background-color: var(--color-bg);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ===== Top Navigation ===== */
#top-navigation {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
}

#top-navigation > button {
    flex: 1;
    font-size: var(--font-size-small);
    background-color: var(--color-primary);
}

#top-navigation > button.active {
    font-weight: bold;
}

/* ===== Bottom Navigation ===== */
#bottom-navigation {
    background-color: var(--color-bg);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
}

#bottom-navigation > button {
    flex: 1;
    font-size: var(--font-size-small);
}

/* ===== Submit Button ===== */
#submit-button {
    background-color: var(--color-primary);
    border-radius: var(--radius-x-large);
}

/* ===== Clear All Button ===== */
#clear-all-button {
    margin: 5em;
    font-size: var(--font-size-medium);
}

/* ===== Page Title ===== */
.page-title {
    font-size: var(--font-size-large);
    font-weight: bold;
}

/* ===== Container of Questions ===== */
.question-container {
    border: var(--color-border-secondary) var(--border-width) solid;
    border-radius: var(--radius-medium);
    margin-bottom: 0.5em;
}

.container-title {
    font-size: var(--font-size-medium);
    margin: 0 auto;
}

/* ===== Question ===== */
.question {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ==== Question Input ==== */
.question input {
    height: 1.35em;
    font-size: var(--font-size-large);
    width: 100%;
}

/* ===== Question Title ===== */
.question h1 {
    font-size: var(--font-size-medium);
    margin-bottom: 0.35em;
}

/* ===== CommentBox ===== */
.CommentBox textarea {
    text-align: start;
    font-size: var(--font-size-large);
    color: var(--color-text);

    border: var(--color-border) var(--border-width) solid;
    border-radius: var(--radius-medium);

    min-height: 7.5em;
    width: 100%;
}

/* ==== List ==== */
.List select {
    font-size: var(--font-size-medium);

    background-color: var(--color-bg-secondary);
    border: var(--color-bg-secondary) var(--border-width) solid;
    border-radius: var(--radius-medium);

    padding: 0.4em; /* increase selector size */
    width: 100%;
}

/* ===== Radio ===== */
.Radio form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    border: var(--color-border) var(--border-width) solid;
    border-radius: var(--radius-large);
}

.Radio label {
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    white-space: nowrap;

    flex: 1 1 auto; /* allow to grow and shrink */
    padding: 0.6em;
}

/*===== ScoreBox ===== */
.ScoreBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0.25em auto;
}

.ScoreBox div {
    display: flex;
    gap: 1em;
}

.ScoreBox h1 {
    text-align: start;
}

.ScoreBox input {
    width: 2.35em;
    height: 1.5em;
    font-size: var(--font-size-large);
}

.ScoreBox button {
    font-size: 3em;
    width: 0.5em;
    height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* ===== Removing Focus outline ===== */
:focus {
    outline: none;
}

/* ==== add nice feel ==== */
button, input, select, label {
    transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease;
}

/* ===== Question invalid border ===== */
.invalid {
    border-color: var(--color-text-error) !important;
}

/* ===== Inputs ===== */
input {
    border: var(--color-border) var(--border-width) solid;
    border-radius: var(--radius-medium);
    color: var(--color-text);
}

/* Remove default input arrow buttons (spins) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Remove radio buttons */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

input[type="radio"]:checked + label {
    color: var(--color-text);
}

/* Remove datalist dropdown arrow */
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
